{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<!-- <h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>
 -->


<style type="text/css">
	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
</style>
<div class="container">
	<div class="row">
		<h3><i class="fa fa-sign-in"></i>&nbsp;Log In:</h3>
		<hr>
		<div class="col-sm-offset-3 col-sm-6">
			<form class="form-horizontal" method="POST">
<!-- 			  <div class="form-group">
			    <label class="control-label col-sm-2" for="email">Email:</label>
			    <div class="col-sm-10">
			      <input type="email" class="form-control" id="email" placeholder="Enter email">
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label col-sm-2" for="pwd">Password:</label>
			    <div class="col-sm-10">
			      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <div class="checkbox">
			        <label><input type="checkbox"> Remember me</label>
			      </div>
			    </div>
			  </div> -->
			  {% csrf_token %}
			  {{ form.as_p }}

			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-info">Submit</button>
			    </div>
			  </div>

			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
				  <a href="/accounts/signup/">Create an account here</a>
			    </div>
			  </div>

			</form>	
	</div>
	</div>
</div>

{% endblock %}
