<!DOCTYPE html>
<html>
<head>
	<title>History & Bookmark recommendation</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		.footer {
			background-color: #222;
			border-color: #080808;
			color: #fff;
			padding: 1%;
			text-align: center;
		}
		.footer ul li {
			list-style-type: none;
		}
	</style>
</head>
<body>
{% include "header.html" %}

  <main>
    {% block content %}
    {% endblock %}
  </main>
{% include "foot.html" %}
</body>
</html>
