<div class="row footer">
	<div class="col-sm-4">
		<h4>Contact Us</h4>
		<ul>
			<li>
				<i class="fa fa-mobile"></i> +91-8678788989
			</li>
			<li>
				<i class="fa fa-phone"></i> +021-224455909
			</li>
		</ul>
	</div>
	<div class="col-sm-4">
		<h4>Copyright</h4>
		<span>Copyright @AnkeitTech 2021-2022</span>
	</div>

	<div class="col-sm-4">
		<h4>About Us</h4>
		<span>We are a product based company which manily breaks the problems in IT world & provides the solutions through our product.</span>
	</div>
</div>