{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<h3>Product History</h3>
		<hr>
	</div>
<!-- 	<div class="row">
		<div class="col-sm-12">
			<h3>May-2019 to May-2020</h3>
			<p>We started as a student in our college. Our college assigns a final year project to every group of students. our area of interest was Machine Learning & Web development is something one of our team member's skill.</p>
			<p>After getting approval from the project manager which is a professor at DMCE, Airoli, we started doing implementations.</p>
			<p>Focus of development was always on requirement gathering & fundamental developoment of the product.</p>
			<p>By the year end, we were in a good shape of the product.</p>
		</div>		
	</div>
 -->
	<div class="row">
		<div class="col-sm-12">
			<h3>May-2020 to Dec-2020</h3>
			<p>Final Year: we started thinking about Web UI for the product. Intentions were to make the product ineteresting to use. UI had to be attractive & informative for the users.</p>
			<p>We adapted front end development technologies HTML, CSS & Bootstrap</p>
			<p>Backend development was mainly Django-Python setup of Machine Learning code.</p>			
		</div>		
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h3>Jan-2021 to May-2021</h3>
			<p>By the start of 2021, we were in a shape where backend was ready & front end was also ready.</p>
			<p>Integration was the only thing left & some improvisations in the model.</p>
			<p>First we focussed on improvisations which was to complete the Machine learning dataset fetch & process logic.</p>
			<p>Finally, we completed the implementation of backend & started integrations.</p>	
			<p>Front End-Back End integration was little painful for all of us, as we were totally new to the integration part</p>
			<p>Our project manager helped us in understanding this & make us achieve the targets here</p>		
		</div>		
	</div>

</div>
{% endblock %}
