{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style type="text/css">
	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
</style>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-success">
			  <strong>Thank You!</strong> Your bookmarks have been saved to Machine Learning model.
			</div>
			<i><i class="fa fa-info-circle"></i><em>Your saved bookmarks will be processed by Machine Leanring algorithms on rewarding basic as we have adopted topic modelling technique.</em></i>
		</div>
	</div>
</div>
{% endblock %}
